body{
	text-align : center;
	background-image : url('../img/dark_wood.png');
	font-weight : bold;
	color : #ddd;
	font-family : 'Montserrat', sans-serif;
}

#result_row{
	background-color : #fff;
	min-height : 200px;
	border : thin solid #aaa;
	text-align:left;
}

div[data-role=footer]{
	padding : 10px;
}

#header-row,div[data-role=footer]{
	background-color : rgba(1,1,1,0.3);
	border-radius : 5px;
}

#header-row h2{
	margin-bottom : 20px;
}

#adsense-container{
	padding-top : 30px;
}

#results_button{
	margin-top:10px;
	margin-bottom:10px;
}

.results-list{
	list-style-type : none;
	color : #444;
}

textarea{
	color : #444;
	border-radius : 5px;
}

a:hover{
	text-decoration:none;
}